POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=neocortex
POSTGRES_PASSWORD=neocortex
POSTGRES_DATABASE=neocortex

NEOCORTEX_TRANSPORT=http
NEOCORTEX_SERVER_HOST=127.0.0.1
NEOCORTEX_SERVER_PORT=8000
NEOCORTEX_AUTH_MODE=none
NEOCORTEX_MOCK_DB=false

NEOCORTEX_DEV_TOKEN=tui-dev
NEOCORTEX_DEV_USER_ID=dev-user

NEOCORTEX_GOOGLE_CLIENT_ID=
NEOCORTEX_GOOGLE_CLIENT_SECRET=
NEOCORTEX_OAUTH_BASE_URL=http://localhost:8000
